<div id="react-ponies-busy-ponies">
    {% if ponies %}
        <div>
            <h4>There are busy ponies :</h4>
            <ul>
                {% for pony in ponies %}
                    <li>
                        <a href="{{path('edit_pony', {id: pony.id})}}">
                            {{pony.name}}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <h4>There is no busy pony :)</h4>
    {% endif %}
</div>
